<form [formGroup]="form">
  <mat-form-field>
    <input formControlname="id" matInput type="text" />
  </mat-form-field>
  <mat-form-field>
    <input formControlname="title" matInput type="text" />
  </mat-form-field>
  <mat-form-field>
    <input formControlname="price" matInput type="number" />
  </mat-form-field>
  <!-- <mat-form-field>
    <input formControlname="image" matInput type="text" />
  </mat-form-field> -->
  <mat-form-field>
    <input formControlname="description" matInput type="text" />
  </mat-form-field>
</form>
