<input type="text" [(ngModel)]="title" />
<!-- string Interpolation -->
{{ title }}

<app-product></app-product>

<div *ngIf="title === 'Diego'">
  Este es Diego
</div>

<div *ngIf="title === 'Alejandro'">
  Este es Alejandro
</div>

<div *ngIf="title === 'Doe'">
  Este es Doe
</div>

<!-- ngSwitch -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'Diego'">Este es Diego</p>
  <p *ngSwitchCase="'Alejandro'">Este es Alejandro</p>
  <p *ngSwitchCase="'Doe'">Este es Doe</p>
  <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()">
  Add item
</button>

<ul>
  <!-- ngif -->
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <!-- ngfor -->
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }} <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<!-- ngfor for objects -->
<div *ngFor="let product of products">
  {{ product.title }}
  <img [src]="product.image" [alt]="product.title" />
  {{ product.description }}
  {{ product.price }}
</div>
