<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Products</h3>
          <ul>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'news' }"
                >New Products</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                >Off Sale</a
              >
            </li>
            <li>
              <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                >Latest Products</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>About Store</h3>
          <ul>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/stores">Our shops</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Contact</h3>
          <mat-form-field color="accent" class="full-width">
            <input
              [formControl]="emailField"
              matInput
              placeholder="Your email"
              type="email"
            />
          </mat-form-field>
          <button
            (click)="sendMail()"
            [disabled]="emailField.invalid"
            mat-raised-button
            color="accent"
            class="confirm-button"
          >
            Subscribe
          </button>
          <div *ngIf="emailField.errors && emailField.dirty">
            <mat-error *ngIf="emailField.invalid"
              >The email is invalid</mat-error
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
