<h1>Title Store</h1>
<app-banner></app-banner>
<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile colspan="3" rowspan="3">
    <img
      src="assets/images/Banner-superdry.jpg"
      class="tile-image"
      alt="image of banner"
    />
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2"
    ><img
      src="assets/images/Banner-MFG.jpg"
      class="tile-image"
      alt="image of banner"
    />
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="4"
    ><img
      src="assets/images/unser.jpg"
      class="tile-image"
      alt="image of banner"
  /></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="3"
    ><img
      src="assets/images/diesel.jpg"
      class="tile-image"
      alt="image of banner"
  /></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3"
    ><img src="assets/images/puma.jpg" class="tile-image" alt="image of banner"
  /></mat-grid-tile>
</mat-grid-list>
<div class="row center">
  <a
    routerLink="/products"
    mat-raised-button
    color="primary"
    class="more-button"
  >
    See Products
  </a>
</div>
