h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.mat-grid-list {
  margin-bottom: 10px;
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-button {
  margin: 0 auto;
}
